<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        {{>head_common_attributes}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>I've finally bitten the bullet and decided to upskill and learn web-dev.</p>
            <p>This is the first (and basic) wesbsite built with node-js</p> 
            <p>It's working with 2 backend APIs to generate the current weather details of a given location. These are: 
                <ol>
                    <li><a href="https://darksky.net/dev">Dark Sky API</a></li>
                    <li><a href="https://www.mapbox.com/search/">mapbox</a></li>
                </ol>
            </p>
            <p>The code for this site can be found at my <a href="https://github.com/LaurenSCarter/weather-app-nodeJS">gitHub</a></p>
            <p>All current content is derived from <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">The Complete Node.js Developer Course (3rd Edition)</a></p>
            <p>This has been an awesome course to play around with and learn some of the basics.</p>
            <p>I'm looking forward to learning more and hosting better sites in the future.</p>
            <img src="/img/me.jpg" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>