<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        {{>head_common_attributes}}
    </head>
    <body>
        <!--render a partial - only need
        to provide the name of the partial, not the 
        extension, or path -->
        <div class = "main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>